@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  position: relative; }

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none; }

input,
button,
textarea {
  font-family: inherit; }

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: unset; }

ul li {
  list-style: none; }

/*-----*/
.saidbar-nav__wrapper1 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 15.6vw;
  height: 100%;
  padding: 5.278vh 0px 9.26vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
  -ms-grid-rows: max-content max-content max-content;
  grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content max-content;
  row-gap: auto;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-right: 2px solid #e5e5e5; }

.sidebar-nav__reserv-position {
  width: 100%;
  height: 100%; }

.sidebar-nav__title {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  font-style: normal;
  font-family: "Barlow", sans-serif; }

.sidebar-nav__page-nav-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sidebar-nav__page-container {
  position: relative; }

.sidebar-nav__page {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  font-style: normal;
  font-family: "Barlow", sans-serif;
  color: #b4977b; }

.sidebar-nav__progress-bar-container {
  height: 22vh;
  position: relative;
  margin: 1.389vh 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4px;
  grid-template-columns: 4px;
  grid-template-rows: repeat(auto-fit, 1fr);
  -ms-grid-column-align: center;
  justify-self: center;
  background-color: #e5e5e5;
  border-radius: 2px; }

.sidebar-nav__progress-bar-line {
  width: 4px;
  height: 100%;
  border-radius: 2px; }

.sidebar-nav__btn {
  width: 58px;
  height: 79px;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
  justify-self: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #b4977b;
  border-radius: 50px; }
  .sidebar-nav__btn img {
    height: 2.686vh; }

.last-page {
  opacity: 0.3;
  position: relative; }

.placeholder-page-nav {
  position: absolute;
  top: 50%;
  left: -70px;
  margin-top: -8px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  font-style: normal;
  font-family: "Barlow", sans-serif;
  color: #b4977b;
  text-align: center;
  opacity: 0; }

.page-number {
  position: relative; }

.page-number:hover .placeholder-page-nav {
  opacity: 1; }

/*-----------MEDIA----------*/
/*----------PORTRAIT----------*/
@media screen and (orientation: portrait) and (max-width: 1280px) {
  .saidbar-nav__wrapper1 {
    width: 15vw;
    height: 100%; } }

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .saidbar-nav__wrapper1 {
    width: 15vw;
    height: 100%;
    padding: 4vh 0px; }
  .sidebar-nav__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__page {
    font-size: 46px;
    font-weight: 500;
    line-height: 46px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__progress-bar-container {
    height: 35vh;
    margin: 1.3vh 0px; }
  .sidebar-nav__btn {
    width: 40px;
    height: 59px; }
    .sidebar-nav__btn img {
      height: 20px; }
  .placeholder-page-nav {
    width: 50px;
    left: -55px;
    margin-top: -6px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 912px) {
  .saidbar-nav__wrapper1 {
    width: 16vw;
    height: 100%;
    padding: 4vh 0px; }
  .sidebar-nav__title {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__page {
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__progress-bar-container {
    height: 30vh;
    margin: 1.5vh 0px; }
  .sidebar-nav__btn {
    width: 50px;
    height: 69px; }
    .sidebar-nav__btn img {
      height: 23px; }
  .placeholder-page-nav {
    width: 50px;
    left: -55px;
    margin-top: -6px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 768px) {
  .saidbar-nav__wrapper1 {
    width: 90px;
    height: 100%;
    padding: 3vh 0px; }
  .sidebar-nav__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__page {
    font-size: 45px;
    font-weight: 500;
    line-height: 50px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__progress-bar-container {
    height: 50vh;
    margin: 1.5vh 0px; }
  .sidebar-nav__btn {
    width: 40px;
    height: 60px; }
    .sidebar-nav__btn img {
      height: 23px; }
  .placeholder-page-nav {
    width: 38px;
    left: -37px;
    margin-top: -16px;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 480px) {
  .saidbar-nav__wrapper1 {
    width: 60px;
    height: 100%;
    padding: 8px 0px; }
  .sidebar-nav__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__page {
    font-size: 35px;
    font-weight: 500;
    line-height: 40px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__progress-bar-container {
    height: 50vh;
    margin: 1.2vh 0px; }
  .sidebar-nav__btn {
    width: 30px;
    height: 50px; }
    .sidebar-nav__btn img {
      height: 17px; }
  .placeholder-page-nav {
    width: 27px;
    left: -25px;
    margin-top: -9px;
    font-size: 9px;
    font-weight: 300;
    line-height: 9px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

/*----------landscape----------*/
@media screen and (orientation: landscape) and (max-width: 1280px) {
  .saidbar-nav__wrapper1 {
    width: 15vw;
    height: 100%; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .saidbar-nav__wrapper1 {
    width: 15vw;
    height: 100%;
    padding: 4vh 0px; }
  .sidebar-nav__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__page {
    font-size: 46px;
    font-weight: 500;
    line-height: 46px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__progress-bar-container {
    height: 35vh;
    margin: 1.3vh 0px; }
  .sidebar-nav__btn {
    width: 40px;
    height: 59px; }
    .sidebar-nav__btn img {
      height: 20px; }
  .placeholder-page-nav {
    width: 50px;
    left: -55px;
    margin-top: -6px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (max-width: 896px) {
  .saidbar-nav__wrapper1 {
    width: 80px;
    height: 100%; }
  .sidebar-nav__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__page {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__progress-bar-container {
    height: 45vh;
    margin: 1vh 0px; }
  .sidebar-nav__btn {
    width: 30px;
    height: 45px; }
    .sidebar-nav__btn img {
      height: 16px; }
  .placeholder-page-nav {
    width: 30px;
    left: -30px;
    margin-top: -11px;
    font-size: 9px;
    font-weight: 300;
    line-height: 11px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) {
  /*-max-height-*/ }

@media screen and (orientation: landscape) and (max-height: 315px) {
  .sidebar-nav__title {
    font-size: 11px;
    font-weight: 500;
    line-height: 11px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__page {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .sidebar-nav__progress-bar-container {
    height: 35vh;
    margin: 0.5vh 0px; }
  .sidebar-nav__btn {
    width: 20px;
    height: 25px; }
    .sidebar-nav__btn img {
      height: 12px; }
  .placeholder-page-nav {
    width: 25px;
    left: -25px;
    margin-top: -9px;
    font-size: 8px;
    font-weight: 300;
    line-height: 9px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

.header {
  position: fixed;
  z-index: 180;
  width: 33.783vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  top: 6.15vh;
  right: 8.523vw; }
  .header__wrapper {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content; }
  .header__mobile {
    display: none; }
  .header__nav {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    gap: 2.4vw; }
  .header__link {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    font-family: "Barlow", sans-serif;
    color: #000000; }
  .header__basket {
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center; }
    .header__basket img {
      width: 26px; }

/*-----------MEDIA----------*/
/*----------PORTRAIT----------*/
@media screen and (orientation: portrait) and (max-width: 1280px) {
  .header {
    width: 34vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 6.15vh;
    right: 8vw; }
    .header__nav {
      gap: 1.5vw; }
    .header__link {
      font-size: 17px;
      font-weight: 500;
      line-height: 20px;
      font-style: normal;
      font-family: "Barlow", sans-serif;
      color: #000000; }
    .header__basket img {
      width: 22px; } }

@media screen and (orientation: portrait) and (max-width: 1180px) {
  .header__link {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .header {
    width: 40vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 4vh;
    right: 6vw; }
    .header__nav {
      gap: 2vw; }
    .header__link {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__basket img {
      width: 22px; } }

@media screen and (orientation: portrait) and (max-width: 1024px) and (min-height: 1025px) {
  .header {
    top: 4vh;
    right: 3vw; }
    .header__nav {
      gap: 1.5vw; }
    .header__link {
      font-size: 17px;
      font-weight: 500;
      line-height: 20px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 912px) {
  .header {
    width: 80vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 4vh;
    right: 2vw; }
    .header__wrapper {
      background-color: #ffffffd6; }
    .header__nav {
      gap: 5vw; }
    .header__link {
      font-size: 21px;
      font-weight: 500;
      line-height: 25px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__basket img {
      width: 28px; } }

@media screen and (orientation: portrait) and (max-width: 768px) {
  .header {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 3vh;
    right: 0;
    padding: 0px 8px 0px 98px; }
    .header__nav {
      gap: 3vw; }
    .header__link {
      font-size: 15px;
      font-weight: 500;
      line-height: 25px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__basket img {
      width: 25px; } }

@media screen and (orientation: portrait) and (max-width: 480px) {
  .header {
    padding: 0px 8px 0px 68px;
    top: 2vh;
    right: 0vw; }
    .header__wrapper {
      position: relative;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end;
      width: 100%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content; }
    .header__mobile {
      display: -ms-grid;
      display: grid;
      -ms-flex-line-pack: center;
      align-content: center;
      position: absolute;
      z-index: 150;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: 100%;
      margin-left: 8px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__nav {
      width: 102vw;
      height: 102vh;
      padding: 80px 12px 2vh 95px;
      position: absolute;
      top: -200vh;
      left: -68px;
      display: -ms-grid;
      display: grid;
      grid-auto-flow: row;
      -ms-grid-rows: -webkit-max-content;
      -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
      grid-auto-rows: -webkit-max-content;
      grid-auto-rows: max-content;
      background-color: #ffffff;
      gap: 20px;
      -webkit-transition: top 1s ease 0s;
      -o-transition: top 1s ease 0s;
      transition: top 1s ease 0s; }
    .header__link {
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      -ms-flex-line-pack: start;
      align-content: start;
      text-align: start;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__basket img {
      width: 24px; } }

/*----------landscape----------*/
@media screen and (orientation: landscape) and (min-height: 315px) and (max-width: 1280px) {
  .header {
    width: 34vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 6.15vh;
    right: 8vw; }
    .header__nav {
      gap: 1.5vw; }
    .header__link {
      font-size: 17px;
      font-weight: 500;
      line-height: 20px;
      font-style: normal;
      font-family: "Barlow", sans-serif;
      color: #000000; }
    .header__basket img {
      width: 22px; } }

@media screen and (orientation: landscape) and (min-height: 315px) and (max-width: 1180px) {
  .header__link {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (min-height: 315px) and (max-width: 1024px) {
  .header {
    width: 40vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 4vh;
    right: 6vw; }
    .header__nav {
      gap: 2vw; }
    .header__link {
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__basket img {
      width: 22px; } }

@media screen and (orientation: landscape) and (min-height: 315px) and (max-width: 896px) {
  .header {
    width: 50vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    top: 2vh;
    right: 10px; }
    .header__nav {
      gap: 2vw; }
    .header__link {
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__basket img {
      width: 22px; } }

@media screen and (orientation: landscape) and (min-height: 315px) and (max-width: 480px) {
  .header {
    width: 100vw;
    padding: 0px 4px 0px 84px;
    top: 2vh;
    right: 0vw; }
    .header__wrapper {
      position: relative;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: end;
      width: 100%;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      background-color: #ffffffd6; }
    .header__mobile {
      display: -ms-grid;
      display: grid;
      -ms-flex-line-pack: center;
      align-content: center;
      position: absolute;
      z-index: 150;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: 100%;
      margin-left: 8px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__nav {
      width: 102vw;
      height: 102vh;
      padding: 80px 12px 2vh 110px;
      position: absolute;
      top: -200vh;
      left: -88px;
      display: -ms-grid;
      display: grid;
      grid-auto-flow: row;
      -ms-grid-rows: -webkit-max-content;
      -ms-grid-rows: max-content;
      grid-template-rows: -webkit-max-content;
      grid-template-rows: max-content;
      grid-auto-rows: -webkit-max-content;
      grid-auto-rows: max-content;
      background-color: #ffffff;
      gap: 20px;
      -webkit-transition: top 1s ease 0s;
      -o-transition: top 1s ease 0s;
      transition: top 1s ease 0s; }
    .header__link {
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      -ms-flex-line-pack: start;
      align-content: start;
      text-align: start;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__basket img {
      width: 24px; } }

/*-max-height-*/
@media screen and (orientation: landscape) and (max-height: 315px) and (max-height: 315px) {
  .header {
    top: 4px;
    right: 4px; }
    .header__wrapper {
      -ms-grid-columns: -webkit-max-content -webkit-max-content;
      -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content; }
    .header__nav {
      width: -webkit-max-content !important;
      width: -moz-max-content !important;
      width: max-content !important; }
    .header__link {
      font-size: 10px;
      font-weight: 500;
      line-height: 10px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .header__basket img {
      width: 17px; } }

/*-------------------------------------*/
/*-------FOOTER--------*/
.footer {
  position: fixed;
  z-index: 150;
  width: 26.875vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  bottom: 9.26vh;
  left: 24.124vw;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-flex-line-pack: center;
  align-content: center; }
  .footer__nav {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-auto-flow: column; }
  .footer__link {
    display: -ms-grid;
    display: grid;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    font-style: normal;
    font-family: "Barlow", sans-serif;
    color: #000000; }

/*-----------MEDIA----------*/
/*----------PORTRAIT----------*/
@media screen and (orientation: portrait) and (max-width: 1280px) {
  .footer {
    width: 26vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 9vh;
    left: 24vw; } }

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .footer {
    width: 26vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 7vh;
    left: 21vw; }
    .footer__link {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 1024px) and (min-height: 1025px) {
  .footer {
    width: 34vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 7vh;
    left: 18vw; }
    .footer__link {
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 912px) {
  .footer {
    width: 49vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 5vh;
    left: 18vw; }
    .footer__link {
      font-size: 16px;
      font-weight: 500;
      line-height: 17px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 768px) {
  .footer {
    width: 48vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 3vh;
    left: 98px; }
    .footer__link {
      font-size: 12px;
      font-weight: 500;
      line-height: 12px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 480px) {
  .footer {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 1.5vh;
    left: 0;
    padding-left: 68px;
    padding-right: 8px; }
    .footer__link {
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

/*----------landscape----------*/
@media screen and (orientation: landscape) and (min-height: 315px) and (max-width: 1280px) {
  .footer {
    width: 26vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 9vh;
    left: 24vw; } }

@media screen and (orientation: landscape) and (min-height: 315px) and (max-width: 1024px) {
  .footer {
    width: 26vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 7vh;
    left: 21vw; }
    .footer__link {
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (min-height: 315px) and (max-width: 896px) {
  .footer {
    width: 29vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 7vh;
    left: 90px; }
    .footer__link {
      font-size: 9px;
      font-weight: 500;
      line-height: 14px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (min-height: 315px) and (max-width: 480px) {
  .footer {
    width: 45vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 7vh;
    left: 84px; }
    .footer__link {
      font-size: 9px;
      font-weight: 500;
      line-height: 14px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

/*-max-height-*/
@media screen and (orientation: landscape) and (max-height: 315px) and (max-height: 315px) {
  .footer {
    width: 35vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    bottom: 10px;
    padding-left: 4px; }
    .footer__link {
      font-size: 7px;
      font-weight: 500;
      line-height: 11px;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

/*-----общие-стили----*/
body {
  overflow-x: hidden; }

.active-line-nav {
  cursor: pointer;
  position: absolute !important;
  z-index: 200;
  width: 4px;
  min-height: 1vh;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: #b4977b;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s; }

.active-page-nav {
  position: relative !important;
  opacity: 1; }

.active-link-header {
  color: #b4977b; }

.hidden {
  overflow: hidden; }

.active-mobile-menu {
  top: -3vh;
  -webkit-transition: top 1s ease 0s;
  -o-transition: top 1s ease 0s;
  transition: top 1s ease 0s; }

/*---скролл поблочно---*/
.scroller {
  height: 100vh;
  overflow-x: hidden;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth; }

.scroller::-webkit-scrollbar {
  width: 0px; }

.scroller section {
  scroll-snap-align: start; }

/*----контент----*/
.section {
  position: relative;
  z-index: 15;
  width: 100vw;
  height: 100vh; }

.site-content {
  width: 100vw;
  height: 100%;
  padding: 0px 8.523vw 9.26vh 24.124vw;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 26.875vw 33.783vw;
  grid-template-columns: 26.875vw 33.783vw;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .site-content__photo {
    position: relative;
    width: 100%;
    height: 74.0745vh; }
    .site-content__photo img {
      width: 100%;
      height: 100%; }
    .site-content__photo::before {
      content: 'The Best Hair Style 2021';
      position: absolute;
      display: -ms-grid;
      display: grid;
      -ms-flex-line-pack: center;
      align-content: center;
      width: 100%;
      height: 10.834vh;
      bottom: 0;
      left: 0;
      text-align: center;
      font-size: 28px;
      font-weight: 500;
      line-height: 34px;
      font-style: normal;
      font-family: "Barlow", sans-serif;
      color: #ffffff;
      background: rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px); }
  .site-content__content-container {
    display: -ms-grid;
    display: grid;
    padding-top: 22.777vh;
    gap: 3.7037vh; }

/*-----------MEDIA----------*/
/*----------PORTRAIT----------*/
@media screen and (orientation: portrait) and (max-width: 1280px) {
  .section {
    width: 100vw;
    height: 100vh;
    -ms-grid-columns: 15vw 1fr;
    grid-template-columns: 15vw 1fr; }
  .site-content {
    width: 100vw;
    height: 100%;
    padding: 0px 8vw 7vh 24vw;
    -ms-grid-columns: 26vw 34vw;
    grid-template-columns: 26vw 34vw;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr; }
    .site-content__photo {
      width: 100%;
      height: 72vh; }
      .site-content__photo::before {
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        font-style: normal;
        font-family: "Barlow", sans-serif; }
    .site-content__content-container {
      padding-top: 18vh;
      gap: 3vh; } }

@media screen and (orientation: portrait) and (max-width: 1180px) {
  .site-content__photo {
    width: 100%;
    height: 70vh; }
    .site-content__photo::before {
      font-size: 25px;
      font-weight: 500;
      line-height: 30px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
  .site-content__content-container {
    padding-top: 17vh; } }

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .site-content {
    padding: 0px 6vw 9vh 21vw;
    -ms-grid-columns: 26vw 40vw;
    grid-template-columns: 26vw 40vw;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr; }
    .site-content__photo {
      width: 100%;
      height: 68vh; }
      .site-content__photo::before {
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        font-style: normal;
        font-family: "Barlow", sans-serif; }
    .site-content__content-container {
      padding-top: 11vh; } }

@media screen and (orientation: portrait) and (max-width: 1024px) and (min-height: 1025px) {
  .site-content {
    padding: 0px 3vw 9vh 18vw;
    -ms-grid-columns: 34vw 40vw;
    grid-template-columns: 34vw 40vw;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr; }
    .site-content__photo {
      width: 100%;
      height: 58vh; }
      .site-content__photo::before {
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        font-style: normal;
        font-family: "Barlow", sans-serif; }
    .site-content__content-container {
      padding-top: 23vh; } }

@media screen and (orientation: portrait) and (max-width: 912px) {
  .site-content {
    padding: 0px 2vw 5vh 18vw;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: row;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: -webkit-max-content -webkit-max-content;
    -ms-grid-rows: max-content max-content;
    grid-template-rows: -webkit-max-content -webkit-max-content;
    grid-template-rows: max-content max-content;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .site-content__photo {
      display: -ms-grid;
      display: grid;
      -ms-grid-column-align: center;
      justify-self: center;
      width: 38vw;
      height: auto; }
      .site-content__photo::before {
        width: 100%;
        height: 8vh;
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        font-style: normal;
        font-family: "Barlow", sans-serif; }
    .site-content__content-container {
      padding-top: 1vh;
      gap: 1.5vh; } }

@media screen and (orientation: portrait) and (max-width: 768px) {
  .site-content {
    padding: 0px 8px 5vh 98px; }
    .site-content__photo {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content; }
      .site-content__photo img {
        width: auto;
        height: 35vh; }
      .site-content__photo::before {
        width: 100%;
        height: 6vh;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        font-style: normal;
        font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 768px) and (min-height: 1024px) {
  .site-content {
    padding: 0px 2vw 5vh 15vw; }
    .site-content__photo {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content; }
      .site-content__photo img {
        width: auto;
        height: 44vh; }
      .site-content__photo::before {
        width: 100%;
        height: 8vh;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
        font-style: normal;
        font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 480px) {
  .site-content {
    padding: 0px 8px 5vh 68px;
    -ms-grid-rows: -webkit-max-content 1fr;
    -ms-grid-rows: max-content 1fr;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr; }
    .site-content__photo {
      -ms-grid-column-align: start;
      justify-self: start;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      margin-left: 4px; }
      .site-content__photo img {
        width: auto;
        height: 34vh; }
      .site-content__photo::before {
        width: 100%;
        height: 6vh;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        font-style: normal;
        font-family: "Barlow", sans-serif; }
    .site-content__content-container {
      padding-top: 0.5vh;
      gap: 1vh; } }

@media screen and (orientation: portrait) and (max-width: 480px) and (min-height: 740px) {
  .site-content__photo::before {
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .site-content__content-container {
    padding-top: 1vh;
    gap: 1.5vh; } }

/*----------landscape----------*/
@media screen and (orientation: landscape) and (max-width: 1280px) {
  .section {
    width: 100vw;
    height: 100vh;
    -ms-grid-columns: 15vw 1fr;
    grid-template-columns: 15vw 1fr; }
  .site-content {
    width: 100vw;
    height: 100%;
    padding: 0px 8vw 7vh 24vw;
    -ms-grid-columns: 26vw 34vw;
    grid-template-columns: 26vw 34vw; }
    .site-content__photo {
      width: 100%;
      height: 72vh; }
      .site-content__photo::before {
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        font-style: normal;
        font-family: "Barlow", sans-serif; }
    .site-content__content-container {
      padding-top: 18vh;
      gap: 3vh; } }

@media screen and (orientation: landscape) and (max-width: 1180px) {
  .site-content__photo {
    width: 100%;
    height: 70vh; }
    .site-content__photo::before {
      font-size: 25px;
      font-weight: 500;
      line-height: 30px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
  .site-content__content-container {
    padding-top: 17vh; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .site-content {
    padding: 0px 6vw 9vh 21vw;
    -ms-grid-columns: 26vw 40vw;
    grid-template-columns: 26vw 40vw; }
    .site-content__photo {
      width: 100%;
      height: 68vh; }
      .site-content__photo::before {
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        font-style: normal;
        font-family: "Barlow", sans-serif; }
    .site-content__content-container {
      padding-top: 11vh; } }

@media screen and (orientation: landscape) and (max-width: 896px) {
  .site-content {
    padding: 0px 10px 4vh 90px;
    -ms-grid-columns: 29vw 50vw;
    grid-template-columns: 29vw 50vw; }
    .site-content__photo {
      width: 100%;
      height: 72vh; }
      .site-content__photo::before {
        width: 100%;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        padding: 1.5vh 0px;
        font-size: 17px;
        font-weight: 500;
        line-height: 19px;
        font-style: normal;
        font-family: "Barlow", sans-serif; }
    .site-content__content-container {
      padding-top: 12vh;
      gap: 1.5vh; } }

@media screen and (orientation: landscape) and (max-width: 480px) {
  .site-content {
    padding: 0px 4px 4vh 84px;
    -ms-grid-columns: 28vw 50vw;
    grid-template-columns: 28vw 50vw; }
    .site-content__photo {
      width: 100%;
      height: 70vh; }
      .site-content__photo::before {
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        font-style: normal;
        font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) {
  /*-max-height-*/ }

@media screen and (orientation: landscape) and (max-height: 315px) {
  .site-content {
    width: 100%;
    height: 100%;
    padding: 0px 4px 4px 4px;
    -ms-grid-columns: 25% 70%;
    grid-template-columns: 25% 70%;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%; }
    .site-content__photo {
      width: 100%;
      height: 80%; }
      .site-content__photo img {
        width: 100%;
        height: 100%; }
      .site-content__photo::before {
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        font-style: normal;
        font-family: "Barlow", sans-serif; }
    .site-content__content-container {
      padding-top: 25px;
      padding-bottom: 45px;
      gap: 3px; } }

/*-----------------------------------------*/
/*-------Блок с текстом----*/
.content-container {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content; }
  .content-container__title {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-size: 64px;
    font-weight: 600;
    line-height: 77px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    max-height: 290px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32.31px;
    font-style: normal;
    font-family: "Barlow", sans-serif;
    overflow-y: scroll; }
    .content-container__text::-webkit-scrollbar {
      width: 4px;
      border-radius: 20px; }
    .content-container__text::-webkit-scrollbar-track {
      background: #e5e5e5; }
    .content-container__text::-webkit-scrollbar-thumb {
      background-color: #b4977b;
      border-radius: 2px; }
  .content-container__btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 5.556vh;
    padding: 1.39vh 1.663vw;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #b4977b;
    border-radius: 50px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 179.5%;
    font-style: normal;
    font-family: "Barlow", sans-serif; }

/*----------------MEDIA-----------*/
/*----------PORTRAIT----------*/
@media screen and (orientation: portrait) and (max-width: 1280px) {
  .content-container__title {
    font-size: 62px;
    font-weight: 600;
    line-height: 72px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 1180px) {
  .content-container__title {
    font-size: 52px;
    font-weight: 600;
    line-height: 62px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .content-container__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1.5vh 1.7vw;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 1024px) and (min-height: 1025px) {
  .content-container__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 54px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1.5vh 1.7vw;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 912px) {
  .content-container__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 55px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__btn {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 768px) {
  .content-container__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 480px) {
  .content-container__title {
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__btn {
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 480px) and (min-height: 740px) {
  .content-container__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__btn {
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

/*----------landscape----------*/
@media screen and (orientation: landscape) and (max-width: 1280px) {
  .content-container__title {
    font-size: 62px;
    font-weight: 600;
    line-height: 72px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (max-width: 1180px) {
  .content-container__title {
    font-size: 52px;
    font-weight: 600;
    line-height: 62px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .content-container__title {
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1.5vh 1.7vw;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (max-width: 800px) {
  .content-container__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__btn {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 1.5vh 1.7vw;
    font-size: 13px;
    font-weight: 400;
    line-height: 130%;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (max-width: 480px) {
  .content-container__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .content-container__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) {
  /*-max-height-*/ }

@media screen and (orientation: landscape) and (max-height: 315px) {
  .content-container {
    height: 100%;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-grid-rows: -webkit-max-content 52% -webkit-max-content;
    -ms-grid-rows: max-content 52% max-content;
    grid-template-rows: -webkit-max-content 52% -webkit-max-content;
    grid-template-rows: max-content 52% max-content; }
    .content-container__title {
      font-size: 100%;
      font-weight: 600;
      line-height: 100%;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .content-container__text {
      max-height: 100% !important;
      font-size: 9px;
      font-weight: 400;
      line-height: 11px;
      font-style: normal;
      font-family: "Barlow", sans-serif; }
    .content-container__btn {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      padding: 1.5vh 1.7vw;
      font-size: 10px;
      font-weight: 400;
      line-height: 110%;
      font-style: normal;
      font-family: "Barlow", sans-serif; } }

/*----*/
@media (max-height: 580px) {
  .content-container__text {
    max-height: 200px; } }

@media (max-height: 400px) {
  .content-container__text {
    max-height: 120px; } }

/*-----------------------------------------*/
/*----Номер страницы---*/
.page-number-big {
  position: absolute;
  z-index: 10;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: block;
  padding: 0;
  bottom: 5.833vh;
  right: 7.75vw;
  color: #ffffff;
  font-size: 200px;
  font-weight: 600;
  line-height: 240px;
  font-style: normal;
  font-family: "Barlow", sans-serif;
  text-shadow: 0 -2px 0 #b4977b, 0 -2px 0 #b4977b, 0 2px 0 #b4977b, 0 2px 0 #b4977b, -2px 0 0 #b4977b, 2px 0 0 #b4977b, -2px 0 0 #b4977b, 2px 0 0 #b4977b, -1px -2px 0 #b4977b, 1px -2px 0 #b4977b, -1px 2px 0 #b4977b, 1px 2px 0 #b4977b, -2px -1px 0 #b4977b, 2px -1px 0 #b4977b, -2px 1px 0 #b4977b, 2px 1px 0 #b4977b, -2px -2px 0 #b4977b, 2px -2px 0 #b4977b, -2px 2px 0 #b4977b, 2px 2px 0 #b4977b, -2px -2px 0 #b4977b, 2px -2px 0 #b4977b, -2px 2px 0 #b4977b, 2px 2px 0 #b4977b; }

/*---decoration----*/
.circle-1 {
  z-index: -10;
  position: fixed;
  bottom: -5.926vh;
  right: 34.172vw; }
  .circle-1 .circle {
    width: 145px;
    height: 145px; }

.circle-2 {
  z-index: -10;
  position: fixed;
  bottom: 28.303vh;
  right: 15.374vw; }
  .circle-2 .circle {
    width: 116.46px;
    height: 116.46px; }

.circle-3 {
  z-index: -10;
  position: fixed;
  top: 21.717vh;
  right: -2.3vw; }
  .circle-3 .circle {
    width: 145px;
    height: 145px; }

/*-----------MEDIA---------------*/
/*----------PORTRAIT----------*/
@media screen and (orientation: portrait) and (max-width: 1280px) {
  .page-number-big {
    font-size: 170px;
    font-weight: 600;
    line-height: 170px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 1024px) {
  .page-number-big {
    bottom: 3vh;
    right: 4.5vw;
    font-size: 150px;
    font-weight: 600;
    line-height: 150px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .circle-1 {
    bottom: -13vh;
    right: 34.172vw; }
    .circle-1 .circle {
      width: 145px;
      height: 145px; }
  .circle-2 {
    bottom: 22vh;
    right: 15vw; }
    .circle-2 .circle {
      width: 116.46px;
      height: 116.46px; }
  .circle-3 {
    top: 27vh;
    right: -7vw; }
    .circle-3 .circle {
      width: 145px;
      height: 145px; } }

@media screen and (orientation: portrait) and (max-width: 1024px) and (min-height: 1025px) {
  .page-number-big {
    bottom: 3vh;
    right: 2vw;
    font-size: 200px;
    font-weight: 600;
    line-height: 200px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .circle-1 {
    bottom: -13vh;
    right: 34.172vw; }
    .circle-1 .circle {
      width: 145px;
      height: 145px; }
  .circle-2 {
    bottom: 22vh;
    right: 15vw; }
    .circle-2 .circle {
      width: 116.46px;
      height: 116.46px; }
  .circle-3 {
    top: 27vh;
    right: -7vw; }
    .circle-3 .circle {
      width: 145px;
      height: 145px; } }

@media screen and (orientation: portrait) and (max-width: 912px) {
  .page-number-big {
    bottom: 2vh;
    right: 1.7vw;
    font-size: 180px;
    font-weight: 600;
    line-height: 180px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .circle-1 {
    bottom: -7vh;
    right: 50vw; }
    .circle-1 .circle {
      width: 160px;
      height: 160px; }
  .circle-2 {
    bottom: 25vh;
    right: 20vw; }
    .circle-2 .circle {
      width: 160px;
      height: 160px; }
  .circle-3 {
    top: 27vh;
    right: -7vw; }
    .circle-3 .circle {
      width: 160px;
      height: 160px; } }

@media screen and (orientation: portrait) and (max-width: 768px) {
  .page-number-big {
    bottom: -0.5vh;
    right: 8px;
    font-size: 120px;
    font-weight: 600;
    line-height: 120px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: portrait) and (max-width: 480px) {
  .page-number-big {
    top: 9vh;
    right: 4px;
    bottom: unset;
    font-size: 100px;
    font-weight: 600;
    line-height: 100px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .circle-1 {
    bottom: -50px;
    right: 50vw; }
    .circle-1 .circle {
      width: 100px;
      height: 100px; }
  .circle-2 {
    bottom: 35vh;
    right: 20vw; }
    .circle-2 .circle {
      width: 70px;
      height: 70px; }
  .circle-3 {
    top: 20vh;
    right: -50px; }
    .circle-3 .circle {
      width: 100px;
      height: 100px; } }

@media screen and (orientation: portrait) and (max-width: 480px) and (min-height: 740px) {
  .page-number-big {
    bottom: 3.2vh;
    right: 8px;
    top: unset;
    font-size: 110px;
    font-weight: 600;
    line-height: 110px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

/*----------landscape----------*/
@media screen and (orientation: landscape) and (max-width: 1280px) {
  .page-number-big {
    font-size: 170px;
    font-weight: 600;
    line-height: 170px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .page-number-big {
    bottom: 3vh;
    right: 4.5vw;
    font-size: 150px;
    font-weight: 600;
    line-height: 150px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .circle-1 {
    bottom: -13vh;
    right: 34.172vw; }
    .circle-1 .circle {
      width: 145px;
      height: 145px; }
  .circle-2 {
    bottom: 22vh;
    right: 15vw; }
    .circle-2 .circle {
      width: 116.46px;
      height: 116.46px; }
  .circle-3 {
    top: 27vh;
    right: -7vw; }
    .circle-3 .circle {
      width: 145px;
      height: 145px; } }

@media screen and (orientation: landscape) and (max-width: 915px) and (min-height: 410px) {
  .page-number-big {
    bottom: 2.5vh;
    right: 4.8vw;
    font-size: 90px;
    font-weight: 600;
    line-height: 90px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) and (max-width: 896px) {
  .page-number-big {
    bottom: 3vh;
    right: 10px;
    font-size: 100px;
    font-weight: 600;
    line-height: 100px;
    font-style: normal;
    font-family: "Barlow", sans-serif; }
  .circle-1 {
    bottom: -15vh;
    right: 38vw; }
    .circle-1 .circle {
      width: 120px;
      height: 120px; }
  .circle-2 {
    bottom: 20vh;
    right: 17vw; }
    .circle-2 .circle {
      width: 100px;
      height: 100px; }
  .circle-3 {
    top: 22vh;
    right: -10vw; }
    .circle-3 .circle {
      width: 120px;
      height: 120px; } }

@media screen and (orientation: landscape) and (max-width: 480px) {
  .page-number-big {
    bottom: 3vh;
    right: 4px;
    font-size: 90px;
    font-weight: 600;
    line-height: 90px;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) {
  /*-max-height-*/ }

@media screen and (orientation: landscape) and (max-height: 315px) {
  .page-number-big {
    bottom: 0px;
    right: 4px;
    font-size: 350%;
    font-weight: 600;
    line-height: 100%;
    font-style: normal;
    font-family: "Barlow", sans-serif; } }

@media screen and (orientation: landscape) {
  .circle-1 {
    bottom: -25%;
    right: 50%; }
    .circle-1 .circle {
      width: 80px;
      height: 80px; }
  .circle-2 {
    bottom: 15%;
    right: 20%; }
    .circle-2 .circle {
      width: 60px;
      height: 60px; }
  .circle-3 {
    top: 15%;
    right: -5%; }
    .circle-3 .circle {
      width: 80px;
      height: 80px; } }
